{% load staticfiles %}
<html>
    <head>
        <title>Temoki San</title>
    </head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <body>
        <div>
            <h1><a href="/">Temoki San </a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Travel Cube </a></h2>
            <p>«По любезному приглашению Zisiscafe в режиме чистой импровизации создал, пожалуй, самую важную на сегодняшний день свою работу. Двадцать семь квадратных метров, тушь, акрил и воспоминания из разных уголков мира, где довелось побывать». </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Берегите сильных людей</a></h2>
            <p>Сильные люди бывaют нaмного беззaщитней слaбых. Во время урaгaнa гибкий тростник гнётся и шуршит, a соснa просто ломaется и умирaет нaвсегдa - говорят китaйцы, a китaйцы знaют, что говорят.
</p>
        </div>
    </body>
</html>

{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
          <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}